body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin:0;
    font-family: "Inter", sans-serif;
    font-size: 12px;
}


header{

    max-width: 1280px;
    width: 100%;
    height: 230px;
    /* position:relative; */
    margin: 0 auto 10px;
}


/* TOP ROW STYLES */
.top-row{

    display: grid;
    grid-template-columns: 200px 1fr 200px;
    padding: 12px 0;

    height: 23px;
}

.top-row-spacing{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-row-login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    height: 23px;
}

.newspaper-icon{
    height: 16px;
}

.top-row-bell-wrapper{
    display: flex;
    justify-content: center;
    min-width: 60px;
    height: 23px;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
}

.top-row-bell{
    position: relative;
    fill: #005ac7;
}

@media (min-width: 1024px){
    .top-row-bell{
        width: 20px;
        height: 20px;
        fill: #0250b0;
    }
}

.top-row-bell-counter{
    position: absolute;
    top: 0;
    right: -2px;
    background-color: red;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
}

.top-row-bell-counter p{
    color: #fff;
    font-size: 7px;
}

.top-row-login-button{
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    color: #1b3967;
    font-size: inherit;
    text-transform: inherit;
    font-weight: 500;
    font-family: Inter, sans-serif;
    display: flex;
    align-items: center;
    gap: 6px;
}

@media (min-width:768px){
    .top-row-login-button{
        color: #1b3967;
        font-weight: 700;
        font-size: 13px;
        min-width: 69px;
    }
}

@media (min-width: 768px) {
    .top-row-login-button>span {
        display: block;
    }
}

.user-icon{
    width: 18px;
    height: 18px;
}


/* LOGO ROW STYLES */
.logo-row{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    justify-items: center;
    align-items: center;
}

.logo-row-left,
.logo-row-right{
    display: flex;
    align-items: center;
    gap: 12px;

    max-width: 180px;
    width: 100%;
    height: 70px;
    background: #f5f8fb;
    padding: 10px;
}

.logo-row-left-text,
.logo-row-right-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-row-left-title,
.logo-row-right-title{
    font-size: 13px;
    font-weight: 600;
    color: #1b3967;
    /*overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;*/
}

.logo-row-left-content,
.logo-row-right-content{
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    color: #005ac7;
}

.logo-row-right-content p{
    margin: 0;
}

.logo-row-left-img{
    max-height: 60px;
    max-width: 60px;
    height: 100%;
    width: auto;

    border-radius: 100%;
}

.trending-topics-row{
    margin-top: 1rem;
    background: #f5f8fb;
    padding: .75rem 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}


/* TRENDING TOPICS STYLES */
.trending-topics-row a{
    font-size: 13px;
    color: #005ac7;
    font-weight: 600;
    max-width: 16.6666666667%;
    /*white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;*/
    text-decoration: none;
}


/* NAVIGATION ROW STYLES */
.navigation-row{
    position: relative;
}

.navigation-row-list{
    height: 3rem;
    display: flex;
    border-top: 1px solid #e1e1e1;
    background: #f5f8fb;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 40px;
}

.navigation-row-list li:first-child>button{
    border-left: 0;
}

@media (min-width: 768px){
    .navigation-row-list{
        max-height: 37px;
    }
}

.navigation-row-item{
    flex: 1 1;
}

@media (min-width: 1024px){
    .navigation-row-search{
        min-width: 12rem;
    }
}


.navigation-row-list li button{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    padding: .825rem;
    gap: .25rem;

    border: none;
    border-left: 1px solid #e1e1e1;
    background-color: transparent;
    cursor: pointer;

    color: #1b3967;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

@media (min-width: 768px){
    .navigation-row-list li button{
        padding: .825rem 1rem;
        gap: .5rem;
        min-width: 10rem;
    }
}

.navigation-row-item-button .arrow-icon{
    transition: all 0.3s ease;
}

.navigation-row-item-button:hover .arrow-icon{
    transform: rotate(180deg);
}

.navigation-row-item-button>span{
    background: #db0049;
    height: 8px;
    width: 8px;
    border-radius: 100%;
}

@media (min-width: 1024px){
    .navigation-row-search{
        min-width: 12rem;
    }
}

@media (min-width: 1024px){
    .navigation-row-search button{
        justify-content: flex-start !important;
    }
}

@media (min-width: 1024px){
    .navigation-row-search span{
        display: block;
        text-transform: none;
        color: #1b3967;
        font-weight: 500;
        font-size: 12px;
    }
}

.search-icon{
    height: 20px;
}


.prova{
    background-color: lightblue;
    max-width: 1280px;
    width: 100%;
    height: 230px;
}

