.footer-footer{
    position: relative;
    background-color: #005ac7;
    color: #ffffff;
    z-index: 10;
    margin: 0;
    width: 100%;
}

.footer-footer-content{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    padding: 150px 15px 15px;
}

.footer-footer-info{
    background-color: #0250b0;
}

.footer-footer-qn-logo{
    position: absolute;
    width: 158px;
    height: 147px;
    z-index: 0;
    top: 0;
    left: 0;
}

.footer-footer-main{
    z-index: 10;
    margin-bottom: 20px;
}

.footer-footer-links{
    font-size: 12px;
    display: none;
}

.footer-footer-logo{
    display: flex;
    align-items: center;
}

.footer-footer-text,
.footer-footer-text p strong{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    font-family: system-ui;
}

.footer-footer-newspaper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px 20px;
}

.footer-footer-links-title{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #e0e0e0;
    opacity: 1;
    text-transform: uppercase;
    font-family: system-ui;
}

.footer-footer-links-column{
    display: grid;
    column-gap: 32px;
}

.footer-footer-links-column a {
    text-transform: capitalize;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: system-ui;
}

.footer-footer-links-column a:hover {
    text-decoration: underline;
}

.footer-footer-info-content{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    font-size: 11px;
    padding: 10px 15px;
}

.footer-footer-copyright{
    color: #e0e0e0;
    opacity: 1;
    margin-top: 0;
    font-family: system-ui;
    font-size: 11px;
}

.footer-footer-company-info{
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.footer-footer-company-info a{
    color: #ffffff;
    text-decoration: none;
    font-size: 11px;
    font-family: system-ui;
}

.footer-footer-company-info button {
    border: none;
    background-color: transparent;
    font-family: system-ui;
    padding: 0;
    cursor: pointer;
    color: inherit;
    font-size: 11px;
    text-transform: inherit;
    font-weight: inherit;
}

@media (min-width: 768px) {
    .footer-footer-accordion{
        display: none !important;
    }
}
.footer-footer-accordion{
    display: block;
    overflow: hidden;
    border-bottom: 1px solid hsla(0, 0%, 98%, .15);
    font-size: 16px;
    font-weight: 600;
}

.footer-footer-accordion-label{
    text-transform: uppercase;
    opacity: .6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.footer-footer-accordion-content{
    max-height: 0;
}

.footer-footer-accordion-label img{
    transition: all .2s ease-in-out;
}

.footer-footer-accordion-content a{
    display: block;
    padding: 10px 0;
    text-decoration: none;
    text-transform: capitalize;
}

.footer-footer-accordion-content a:last-child {
    padding: 10px 0 20px;
}

@media (min-width: 768px) {
    .footer-footer-content{
        padding: 40px 20px 40px 158px;
    }
    .footer-footer-links{
        display: grid;
        grid-column-gap: 32px;
        column-gap: 32px;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
    }
    .footer-footer-newspaper{
        justify-content: start;
    }
    .footer-footer-info-content{
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-footer-copyright{
        margin-bottom: 0;
    }

}

@media (min-width: 1024px) {
    .footer-footer-content{
        display: flex;
    }
    .footer-footer-main{
        margin-left: 20px;
    }
}

@media (min-width: 1280px) {
    .footer-footer-links-column{
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-auto-flow: row;
    }
}

@media(max-width: 768px) {
    .footer-footer-content{
        margin-left: 0;
        box-sizing: border-box;

    }
    .footer-footer-accordion:last-child{
        border-bottom: none;
    }
}
