/* TOP ROW STYLES */
.top-row{

    display: grid;
    grid-template-columns: 200px 1fr 200px;
    padding: 12px 0;

    height: 23px;
}

.top-row-spacing{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-row-login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    height: 23px;
}

.newspaper-icon{
    height: 16px;
}

.top-row-bell-wrapper{
    display: flex;
    justify-content: center;
    min-width: 60px;
    height: 23px;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
}

.top-row-bell{
    position: relative;
    fill: #005ac7;
}

.top-row-bell-counter{
    position: absolute;
    top: 0;
    right: -2px;
    background-color: red;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    font-family: system-ui;
}

.top-row-bell-counter p{
    color: #fff;
    font-size: 7px;
}

.top-row-login-button{
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    color: #1b3967;
    font-size: inherit;
    text-transform: inherit;
    font-weight: 500;
    font-family: Inter, sans-serif;
    display: flex;
    align-items: center;
    gap: 6px;
}

@media (min-width:768px){
    .top-row-login-button{
        color: #1b3967;
        font-weight: 700;
        font-size: 13px;
        min-width: 69px;
    }

    .top-row-login-button>span {
        display: block;
    }
}

@media (min-width: 1024px){
    .top-row-bell{
        width: 20px;
        height: 20px;
        fill: #0250b0;
    }
}

.user-icon{
    width: 18px;
    height: 18px;
}


/* LOGO ROW STYLES */
.logo-row{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    justify-items: center;
    align-items: center;
}

.logo-row-left,
.logo-row-right{
    display: flex;
    align-items: center;
    gap: 12px;

    max-width: 180px;
    width: 100%;
    height: 70px;
    background: #f5f8fb;
    padding: 10px;
}

.logo-row-left-text,
.logo-row-right-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-row-left-title,
.logo-row-right-title{
    font-size: 13px;
    font-weight: 600;
    color: #1b3967;
    /*overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;*/
}

.logo-row-left-content,
.logo-row-right-content{
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    color: #005ac7;
}

.logo-row-right-content p{
    margin: 0;
}

.logo-row-center img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-row-left-img{
    max-height: 60px;
    max-width: 60px;
    height: 100%;
    width: auto;

    border-radius: 100%;
}

/* TRENDING TOPICS STYLES */
.trending-topics-row{
    margin-top: 1rem;
    background: #f5f8fb;
    padding: .75rem 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.trending-topics-row a{
    font-size: 13px;
    color: #005ac7;
    font-weight: 600;
    max-width: 16.6666666667%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}


/* NAVIGATION ROW STYLES */
.navigation-row{
    position: relative;
}

.navigation-row-list-wrapper{
    position:relative;
}

.navigation-row-list{
    height: 3rem;
    display: flex;
    border-top: 1px solid #e1e1e1;
    background: #f5f8fb;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 40px;
}

.navigation-row-list li:first-child>button{
    border-left: 0;
}

.navigation-row-item{
    flex: 1 1;
}

.navigation-row-item-button{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    padding: .825rem;
    gap: .25rem;

    border: none;
    border-left: 1px solid #e1e1e1;
    background-color: transparent;
    cursor: pointer;

    color: #1b3967;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.navigation-row-item-button .arrow-icon{
    transition: all 0.3s ease;
}

.navigation-row-item-button:hover .arrow-icon{
    transform: rotate(180deg);
}

.latest-span{
    background: #db0049;
    height: 8px;
    width: 8px;
    border-radius: 100%;
}

@media (min-width: 768px){
    .navigation-row-list{
        max-height: 37px;
    }

    .navigation-row-item-button{
        padding: .825rem 1rem;
        gap: .5rem;
        min-width: 10rem;
    }
}

@media (max-width: 768px){
    .navigation-row-item-specials{
        display: none;
    }
}

@media (min-width: 1024px){
    .navigation-row-search{
        min-width: 12rem;
    }

    .navigation-row-search button{
        justify-content: flex-start !important;

    }

    .navigation-row-search span{
        display: block;
        text-transform: none;
        color: #1b3967;
        font-weight: 500;
        font-size: 12px;
    }
}

@media (max-width: 1024px){
    .navigation-row-search{
        display:none;
    }
}

.search-icon{
    height: 20px;
}


/* DROPDOWN MENU STYLES */

.viewport-cities,
.viewport-menu,
.viewport-specials,
.viewport-latest{
    display: none;
    position: absolute;
    z-index: 100;
    justify-content: center;
    width: 100%;
    left: 0;
    perspective: 2000px;
}

.navigation-row-item-cities:hover .viewport-cities{
    display: flex; /* Mostra il contenuto quando si passa sopra */
}

.dropdown-dR4Wt{
    position: relative;
    transform-origin: top center;
    width: 100%;
    transition: width, height, .3s ease;
}

.dropdown-VFYt7{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 1rem;
    max-width: 100%;
    box-sizing: border-box; /* Include padding e bordi nelle dimensioni */
    background-color: #fff;
}

.dropdown-container{
    overflow-y: auto;
    height: 100%;
}

.dropdown-main{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.dropdown-close{
    display: flex;
    justify-content: flex-end;
}

.dropdown-close>button{   /* Non deve ereditare stile navigation-row-list li button */
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.close-icon{
    height: 16px;
}

.dropdown-search-input-container{
    position: relative;
    background: #f5f8fb;
}

.dropdown-search-icon{
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.dropdown-search-input{
    width: 100%;
    border-radius: .25rem;
    padding: .75rem 1rem;
    font-size: .875rem;
    font-weight: 500;
    color: #1b3967;
    border: none;
    margin-left: 2rem;
    background: #f5f8fb;
}

.dropdown-cities{
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
}

.dropdown-list a{
    color: #1b3967;
    font-size: 13px;
    font-weight: 500;
    padding-bottom: .75rem;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    text-decoration: none;
}

.navigation-row-item-menu:hover .viewport-menu{
    display: flex; /* Mostra il contenuto quando si passa sopra */
}

.dropdown-list{
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
}

.dropdown-teasers{
    display: none;
}

.dropdown-teasers a{
    text-decoration: none;
}

.teaser-article-title{
    color: #575757;
    font-weight: 600;
    font-size: 12px;
    margin: .5rem 0;
}

.teaser-article-content{
    color: black;
    font-size: 13px;
    margin: 0;
    font-weight: 500;
}

.navigation-row-item-specials:hover .viewport-specials{
    display: flex; /* Mostra il contenuto quando si passa sopra */
}

.navigation-row-item-latest:hover .viewport-latest{
    display: flex; /* Mostra il contenuto quando si passa sopra */
}

.dropdown-latest-list{
    display: grid;
    grid-gap: 24px;
    gap: 24px;
}

.dropdown-latest-item{
    font-family: Inter, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dropdown-latest-item-badge{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    color: #575757;
    font-size: 11px;
}

.dropdown-latest-item-badge>span {
    background: #db0049;
    height: 6px;
    width: 6px;
    border-radius: 100%;
}

.dropdown-latest-item-content{
    display: flex;
    gap: 12px;
    margin-top: 12px;
    height: 100%;
}

.dropdown-latest-item-title{
    margin: 0;
    flex: 1 1;
    font-weight: 600;
    font-size: 15px;
    color: black;
}

.dropdown-latest-item-cta{
    margin-top: auto;
    color: #575757;
    display: flex;
    align-items: center;
    gap: 6px;
}

.dropdown-latest-list a{
    text-decoration: none;
}

@media (min-width: 768px){
    .viewport-cities,
    .viewport-menu,
    .viewport-specials,
    .viewport-latest{
        top: 100%;
    }

    .dropdown-VFYt7{
        border: 1px solid #e1e1e1;
    }

    .dropdown-cities{
        grid-template-columns: repeat(4, 1fr);
    }

    .dropdown-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .dropdown-VFYt7 {
        height: unset;
    }

    .dropdown-close{
        display: none;
    }

    .dropdown-list a{
        padding-bottom: 0;
        justify-content: flex-start;
        border-bottom: none;
    }

    .container-teasers{
        display: grid;
        grid-gap: 1rem;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .dropdown-teasers{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        gap: 2rem;
        border-left: 1px solid #e1e1e1;
        padding-left: 1rem;
    }

    .dropdown-latest-list{
        grid-auto-flow: column;
        grid-auto-columns: minmax(0, 1fr);
    }

    .dropdown-latest-item-title{
        flex: 3 1;
    }

    .dropdown-latest-item-cta{
        flex: 2 1;
    }
}

@media (max-width: 1024px) {
    .dropdown-latest-list a:not(:first-child) {
        display: none;
    }
}
