.main-body{
    position: relative;
}

.main-body1{
    top: 84px;
}

.main-body1-1{
    width: 990px;
    min-height: 194px;
    margin: auto;
}

.article-container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    /* z-index: 10; */
    position: relative;
    z-index: 20;
    background-color: white;
}

.homepage-container{
    padding: 0 16px 100px;
}

.homepage-container1{
    top: 84px;
}

.homepage-container2{
    top: 84px;
}

.homepage-container2-1{
    width: 1px;
    min-height: 1px;
    margin: auto;
}

.homepage-container2-1-1{
    border: 0 none;
}

.notification-action-wrapper{
    display: flex;
    align-items: center;
    border-radius: 6px;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .notification-action-wrapper{
        flex-direction: column;
        background-color: transparent;
    }
}

.notification-action{
    position: fixed;
    bottom: 5%;
    left: 5%;
    z-index: 999;
    background-color: #f5f5f5;
    color: #0250b0;
    border-radius: 10px;
    width: 25px;
    height: 49px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: background-color .2s linear;

    cursor: pointer;
}

.notification-action svg {
    height: 26px;
}

.notification-action span{
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #0250b0;
    font-size: 16px;
    font-family: "Inter", sans-serif !important;
}

.notification-action:hover {
    /* width: -moz-fit-content; */
    width: fit-content
}

.notification-action:hover span {
    transition: all .2s linear;
    max-width: 230px;
    margin-left: 10px
}

.slots-vaschetta-qymQd{
    padding: 20px 0;
    border-bottom: 1px solid #e1e1e1;
}

@media (min-width: 768px) {
    .card-card-OeTWD .card-card-main{
        flex-direction: row-reverse;
    }
    .card-card-HzsBL>:last-child {
        padding-bottom: 0;
    }
    .card-card-HzsBL .card-card-main{
        display: flex;
        gap: 20px;
    }
}

@media (min-width: 768px) {
    .card-card-HzsBL .card-card-main .card-card-img{
        flex: 1 1 50%;
    }
}

.card-card-img img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .card-card-OeTWD .card-card-main .card-card-text{
        padding-right: 20px;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .card-card-HzsBL .card-card-main .card-card-text{
        flex: 1 1 50%;
    }
}

.card-card-live{
    margin-top: 8px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.live-button{
    height: 28px;
}

.card-card-category{
    font-family: "Roboto Condensed", sans-serif;
    color: #005ac7;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 8px;

}

.card-card-category-vaschetta{
    margin-left: 10px;
}

.card-card-Jh6sd h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    margin: 0;
}

@media (min-width: 768px) {
    .card-card-itX16 h3 {
        font-size: 40px;
        line-height: 48px;
    }
}

.card-card-title{
    color: #2d2e2f;
}

.card-card-title:hover{
    color: #525252;
}

.card-card-author{
    font-size: 14px;
    font-family: "Roboto Condensed", sans-serif;
    margin-top: 1em;
}

.card-card-author span {
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 700;
}

.card-card-related{
    margin-top: 10px;
}

.card-card-related-longtext ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.card-card-related-longtext a{
    font-family: "Roboto Condensed", sans-serif;
    display: block;
    font-size: 16px;
    color: #505050;
    margin-bottom: 5px;

}

.card-card-related-longtext a span{
    font-family: "Roboto Slab", sans-serif;
}

.card-card-related-longtext a span:first-child {
    color: #005ac7;
    font-weight: 700;
}

.card-card-related-longtext a:hover {
    text-decoration: underline;
    color: #005ac7;
}

/* SLOT CONTROAPERTURA STYLES */
@media (min-width: 768px) {
    .slots-contro-apertura{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 14px;
        gap: 14px;
        padding-bottom: 15px;
    }
}

.slots-contro-apertura-item{
    border-bottom: #e1e1e1;
    padding-bottom: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .slots-contro-apertura-item{
        height: 100%;
        padding-right: 14px;
        border-right: 1px solid #e1e1e1;
        border-bottom: none;
        margin-bottom: 15px;
    }
}

.slots-contro-apertura-item:last-child{
    border-bottom: unset;
    padding-bottom: 0;
}

@media (min-width: 768px) {
    .slots-contro-apertura-item:last-child {
        margin-right: -14px;
        border-right: unset;
    }
}

.card-card-content{
    font-family: "Roboto Condensed", sans-serif;
}

.card-card-N6Dsn .card-card-content{
    font-size: 17px;
    line-height: 20px;
}

.card-card-N6Dsn h3{
    font-size: 22px;
    line-height: 26px;
}

.card-card-content p{
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
    color: #505050;
    margin-bottom: 0;
    margin-top: 10px;
}

.slots-contro-apertura-subitem-v0YQ1 {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .slots-contro-apertura-subitem-v0YQ1 {
        padding: 15px 0;
        border-bottom: 1px solid #e1e1e1;
    }
    .slots-contro-apertura-subitem-v0YQ1:last-child {
        border-bottom: unset;
        padding-bottom: 0;
    }
}

@media (min-width: 768px) {
    .slots-contro-apertura>:last-child>* {
        margin-right: 0;
        border-right: unset;
    }
}

@media (min-width: 768px) {
    .slots-contro-apertura-subitem-v0YQ1:first-child {
        padding-top: 0;
    }
}

.card-card-content-singola{
    font-size: 20px;
}